body{
	line-height: 0;
}

.square{
	border: none;
	display: inline-block;
}

.main{
	margin: 2em auto 1em auto;
    width: 700px;
    padding: 10px;
    text-align:center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: grey;
}

.center{
	margin:auto;
	width: 75%;
}

.style-all{
	
}

.reset_button{
	padding: 1em;
}

#container{
	width: 800px;
	border: solid;
	margin:auto;
}
