body{
	line-height: 0;
	background-color: lightgray;
}

form{
	padding: 0em 0.5em 0.5em 0.5em;
}

.square{
	border: none;
	display: inline-block;
}

.main{
	margin: auto;
    width: 600px;
    padding: 1em;
    text-align:center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: #80b3ff;
    border: solid;
}

.center{
	margin:auto;
	width: 75%;
}

.style-all{
	margin: 1em auto 1em auto;
}

.reset_button{
	padding: 0.5em;
	margin: 0.5em 0.5em 1em 0.5em;
}

.intro{
	line-height: 1;
	margin: 2.5em auto 1em auto;
    width: 600px;
    padding: 0.5em 1em 0.5em 1em;
    text-align:left;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: #80b3ff;
    border: solid;
}
 
#container{
	width: 800px;
	border: solid 4px;
	margin:auto;
	background-color: white;
	border-radius: 7px;
}

#intro-text{
	padding: 0.5em 1em 0.5em 1em;
}

#footy{
	text-align:center;
}